@import "colors.scss";
@import "constants.scss";
@import "mixin.scss";
@import "reactselect.scss";

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.font-small {
  font-size: 1rem;
}

.font-18 {
  font-size: 0.9rem;
}

.fontBold {
  font-weight: bold;
}

.fontItalic {
  font-style: italic;
}

.fontUnderline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.d-none {
  display: none !important;
}

.pdl-8 {
  padding-left: 8px;
}